input {
  padding: 0.5rem;
  background: #111;
  border: 1px solid #00ffe7;
  color: #fff;
  box-shadow: 0 0 8px #00ffe7;
}

button:hover {
  background: #00e0ff;
  box-shadow: 0 0 10px #00ffe7;
  transition: 0.3s ease;
}

h1 {
  text-shadow: 0 0 10px #00ffe7;
}